body{
    text-transform: uppercase;
    text-align: center;
    padding-top: 12%;
    font-family:"Calibri", sans-serif;
}
h1{
    color:red;
    font-family:"Calibri", sans-serif;
    letter-spacing: 3px;
}
.troca__linha{
    color: #353535;
    font-family:"Calibri", sans-serif;
    letter-spacing: 3px;
}
h2{
    color: blue;
    font-family:"Calibri", sans-serif;
    padding-top: 4rem;
    letter-spacing: 3px;
}

@media screen and (max-width: 992px) {
    h1{
        padding-top: 65%;
        font-size: 27px;
    }
    h2{
        font-size: 25px;
    }
}